.App {
  max-width: 600px;
  margin: 0 auto;
  background: var(--black);
  font-size: 12px;
  color: var(--white);
  position: relative;
}

.layout { }
.layout__header { }

.layout__2cols {
  margin: 2px 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.layout__2cols .layout__col {
  width: 50%;
}

.layout__2cols .layout__col + .layout__col {
  margin: 0 0 0 2px;
}