:root {
  --red: rgb(255,0,112);
  --green: rgb(112,168,0);
  --white: #fff;
  --grey: rgb(153, 153, 153);
  --light-grey: rgb(212, 212, 212);
  --dracula: rgb(38, 45, 51);
  --black: #000;
  --dark: rgb(32, 38, 43);
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
